<h2>Todos</h2>

<input #search placeholder="Search…" (keyup)="updateSearchQuery(search.value)" />

<div *ngIf="empty$ | async">
  The list is empty.
</div>

<div *ngFor="let todo of todos$ | async">
  <input
    #checkbox
    type="checkbox"
    [checked]="todo.done"
    (change)="updateTodo(todo, checkbox.checked)"
  />
  <span>{{ todo.text }}</span>
</div>

<div>
  <input
    #todoText
    placeholder="Enter new todo text…"
    (keyup.enter)="addTodo(todoText.value); todoText.value = ''"
  />
</div>
